*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    perspective: 1000px;
}

/*=================================================================================================*/
.container{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20fr 12fr 12fr 8fr 3fr 3fr;
    grid-template-areas: 
    'nav nav'
    'main main'
    'about1 about2'
    'map1 map2'
    'mark mark'
    'works works'
    'footer footer'
}
/*=================================================================================================*/
nav{
    background: black;
    grid-area: nav;
    padding: 18px;
    text-align: right;
}

nav a{
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}
/*=================================================================================================*/

#main{
    background: rgba(128, 128, 128, 0.801);
    grid-area: main;
    position: relative;
}

.welcome{
    position: absolute;
    font-size: 150px;
    margin-top: 180px;
    margin-left: 100px;
    color: white;
}

.hobby{
    position: absolute;
    font-size: 80px;
    margin-top: 800px;
    margin-left: 300px;
    color: white;
}

.cool{
    background: rgb(0, 183, 255);
    padding: 10px;
}

.webpage{
    color: red;
}


.compass svg{
    position: absolute;
    margin-left: 55%;
    margin-top: 5%;
    height: 170px;
}

#needle{
    
    animation: edge 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes edge {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}




.pad svg{
    position: absolute;
    width: 100%;
    height: auto;
}

.whole-card{

    animation: slide_up 1.5s ease-in-out infinite alternate-reverse;
    transform-origin: bottom;
    
    
}

@keyframes slide_up {

   from{
       transform: translateY(-8px);
   }
   to{
       transform: translateY(18px);
   }
}



/*=================================================================================================*/

#about1{
    background: white;
    grid-area: about1;
    position: relative;
}

.right_box{
    width: 530px;
    height: 400px;
    background:gray;
    position: relative;
    margin-top: 50px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
}

/*============================================*/

.about_mini_box{
    width: 190px;
    height: 180px;
    background:rgb(0, 204, 255);
    margin-top: 50px;
    position: absolute;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
 
}


.right_box p{
    font-size: 80px;
    position: absolute;
    margin-left: 350px;
    margin-top: 100px;
}

#about2{
    background: white;
    grid-area: about2;
    position: relative;
}

.border1{
    border: 2px solid black;
    width: 620px;
    height: 400px;
    margin-top: 200px;
}

.border1 p{
    text-align: justify;
    padding: 25px 20px;
}







/*=================================================================================================*/
#map1{
    background:gray;
    grid-area: map1;
    position: relative;
}

/*============================================*/

#map1 svg{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-top: 490px;
    animation: upAndDown 2s infinite alternate-reverse;
}
          
@keyframes upAndDown{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-150px);
    }
}

/*============================================*/

#map1 img{
    width: 620px;
    margin-left: 120px;
    margin-top: 50px;
}



                             
#map1 p{
    position: absolute;
    font-size: 18px;
    transform: rotate(-90deg);
    margin-top: 600px;
    margin-left: 20px;
    color: whitesmoke;
}


#map2{
    background: gray;
    grid-area: map2;
    position: relative;
}

.left_box{
    width: 620px;
    height: 280px;
    background:white;
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
}

.map_mini_box{
    position: absolute;
    width: 220px;
    height: 50px;
    background:lime;
    margin-top: 20px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
}

.place{
    background: blue;
    padding: 5px 10px;
}

span{
    color: white;
}

.left_box p{
    font-size: 36px;
    position: absolute;
    margin-top: 190px;
    margin-left: 30px;
}

i{
    font-size: 30px;
}



/*=================================================================================================*/
#mark{
    background:whitesmoke;
    grid-area: mark;
    position: relative;
    display: grid;
    place-items: center;
}


.mark_mini_box p{
    
    margin: 8px;
    background: greenyellow;
    padding: 10px 20px;
    transition: 0.5s ease;
}


.percentage{
    position: relative;
}

.percentage span{
      background: red;
      padding: 5px 10px;
}


.percentage p{
    position: absolute;
    font-size: 38px;
    margin-left: -600px;
    margin-top: 100px;
}

.mark_box{
    width: 500px;
    height: 300px;
    background:whitesmoke;
    display: grid;
    place-items: center;
    margin-top: -150px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
    position: relative;
}

.mark_box svg{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 273px;
    transition: 0.5s ease;
}

.mark_mini_box{
    width: 430px;
    height: 250px;
    background: rgb(97, 107, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
}

.mark_mini_box p{
    margin-left: -50px;
}


/* ======================================================================================= */


#works{
    background:gray;
    grid-area: works;
    position: relative;
}


#works p{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 10px;
    color:white;
    background: rgba(0, 0, 0, 0.473);
    padding: 5px 20px;
}

.github{
  display: grid;
  place-items: center;
  margin-top: 20px;
}

a{
    width: 600px;
}

.github a{
    margin: 8px;
    background: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
    color: black;
}

/*=================================================================================================*/
footer{
    background:darkblue;
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content a{
    margin: 0px 20px;
    color: white;
    text-decoration: none;
}

.content a svg{
    width: 50px;
    height: 35px;
}

.middle_line{
    width: 2px;
    height: 120px;
    background: lime;
}

.extras p{
    color: lime;
    margin-bottom: 20px;
}

.extras a{
    margin: 0px 20px;
    color: white;
    text-decoration: none;
}

/* ==================================  nav-theme-trigger ==================================================*/


.theme{
    background: white;
    color: black;
}

/*======================================== @media =================================*/


@media only screen and (max-width:480px){



    .container{
        width: 460px;
        grid-template-columns: 1fr;
    grid-template-rows: .2fr 8fr 8fr 8fr 1.9fr 8fr 4fr 2fr 2fr;
    grid-template-areas: 
    'nav'
    'main'
    'about1'
    'about2'
    'map2'
    'map1' 
    'mark'
    'works'
    'footer';
    overflow: hidden;
    }
    
    nav{
        width: 480px;
        background: black;
        grid-area: nav;
        padding: 18px;
        text-align: right;
    }
    
    nav a{
        padding: 0px 8px;
        text-decoration: none;
        color: white;
        margin-right: 20px;
    }


    .welcome{
        font-size: 80px;
        margin-top: 180px;
        margin-left: 30px;
    }

    /*=======================*/

  
  
    #main{
        background: rgba(128, 128, 128, 0.801);
        grid-area: main;
        position: relative;
    }
    
   #main .hobby{
    position: absolute;
    width: 400px;
    margin-top: 500px;
    font-size: 40px;
    margin-left: 40px;

}
    
    .cool{
        background: rgb(0, 183, 255);
        padding: 10px;
    }
    
    .webpage{
        color: red;
    }
    
    
    .compass svg{
        width: 100px;
        position: absolute;
        margin-left: 30%;
        margin-top: 2%;
        height: 170px;
    }
    
    .pad svg{
        position: absolute;
        width: 650px;
        height: 500px;
        margin-top: 140px;
        margin-left: -100px;
    }

/*=========================================*/
    
#about1{
    width: 100px;
    background: white;
    grid-area: about1;
    position: relative;
}


.right_box{
    width: 280px;
    height: 360px;
    background:gray;
    position: relative;
    margin-top: 50px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
}

/*============================================*/

.about_mini_box{
    width: 100px;
    height: 130px;
    background:rgb(0, 204, 255);
    margin-top: 50px;
    position: absolute;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
 
}


.right_box p{
    font-size: 60px;
    position: absolute;
    margin-left: 226px;
    margin-top: 100px;
}

          /*=====================*/



          
#about2{
    background: white;
    grid-area: about2;
    position: relative;
}

.border1{
    border: 2px solid black;
    width: 430px;
    height: 510px;
    margin-top: -200px;
    margin-left: 16px;
}

.border1 p{
    text-align: justify;
    padding: 25px 20px;
}

/*===============================================*/


#map2{
    background: gray;
    grid-area: map2;
    position: relative;
    margin-top: -330px;
}

.left_box{
    width: 320px;
    height: 240px;
    background:white;
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
}

.map_mini_box{
    position: absolute;
    width: 220px;
    height: 50px;
    background:lime;
    margin-top: 20px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3),0px 0px 20px rgba(0,0,0,0.2);
}

.place{
    background: blue;
    padding: 5px 10px;
}

span{
    color: white;
}

.left_box p{
    font-size: 25px;
    position: absolute;
    margin-top: 190px;
    margin-left: -135px;
}

i{
    font-size: 30px;
}

#map1 img{
    margin-bottom: 60px;
}

/*============*/

.percentage{
    position: absolute;
    margin-top: 0px;
}

.mark_box{
    margin-left: -270px;
    margin-top: 10px;
    width: 380px;
    height: 300px;
}

.mark_mini_box{
    width: 300px;
    height: 200px;
}


/*=======================================*/


.github a{
    margin: 50px;
    width: 400px;
   margin-left: -230px;
   margin-top: 35px;
    
}


/*=======================================*/



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.middle_line{
    position: absolute;
    transform: rotate(90deg);
    width: 2px;
    height: 300px;
    
}

.content{
    margin-left: -285px;
    margin-top: -20px;
}

.extras{
    margin-left: -285px;
    padding-top: 30px;
}


}